
BODY 
{
	
height :100%;
	
	 line-height: 20px;
	 background-color: #ffffff;
	 font-size:12px;
	 font-family:   Verdana, Sans Serif, Arial;
	 

}

.T {
font-size:12px;
font-family:   Verdana, Sans Serif, Arial;
color:#000000;
 line-height: 20px;
}
.TB {
font-size:11px;
font-family:  Verdana, Sans Serif, Arial;
color:#000000;
font-weight:bold;
 line-height: 20px;
}
.T1 {
font-size:12px;
font-family:  Courier New;
color:#000000;
 line-height: 20px;
}
.Tg {
font-size:12px;
font-family:  Verdana, Sans Serif, Arial;
color:#85B400;
 line-height: 20px;
}
.Tw {
font-size:12px;
font-family:  Tahoma, Helvetica, Verdana, Sans Serif, Arial;
color:#ffffff;
 line-height: 20px;
}
.text1{
 		FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;border: 1px solid #3F594E; background-color:#FFFFFF;
   
 line-height: 20px;
 
}


.btn1{
		FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif;
 		font-size:11px;border: 1px solid #3F594E; background-color: #E0DAD1;
    }
.btnlst{
		FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif;
 		font-size:11px;border: 1px solid #836A2C; background-color: #ffffff
 		}

.BT
{
	color : #222;
	font-family : Tahoma, Helvetica, Verdana, Sans Serif, Arial;
	font-size : 11px;
	 line-height: 20px;
}
A.Toolbar:link, A.Toolbar:visited, A.Toolbar:active
{
	border : 1px solid #fff;
}
A.Toolbar:hover
{
	border : 1px solid #f0f;
}
A:link, A:visited, A:active
{
	color : #222;
	font-family : Tahoma, Helvetica, Verdana, Sans Serif, Arial;
	background-color : transparent;
	text-decoration : none
}
A:hover
{
	color : #f0f;
	background-color : transparent;
	text-decoration : none
}
A.Light:link, A.Light:visited, A.Light:active
{
	color : #222;
	font-size : 11px;
}
A.Light:hover
{
	color : #d44;
}
	.RT
{
	color : #000;
	font-family : Tahoma, Helvetica, Verdana, Sans Serif, Arial;
	font-size : 11px;
	font-weight: bold;
	 line-height: 20px;

}